@import url("https://fonts.google.com/specimen/Martian+Mono");

$font_text: 'Martian Mono', monospace;
$container_bg_color: rgba(0, 0, 0, 0.03);
$input_hover_bg: rgba(0, 0, 0, 0.125);

.text-red{
    color: rgb(240, 0, 0);
}
.text-green{
    color: rgb(0, 180, 0);
}

@mixin header-text($level: 1){
    @if $level == 1{
        font-size: 30px;
    }
    @if $level == 2{
        font-size: 24px;
    }
    @if $level == 3{
        font-size: 18px;
    }
    @if $level == 4{
        font-size: 16px;
    }
}

body{
    box-sizing: border-box;
    font-family: $font_text;
    height: 100vh;
    margin: 0;
    width: 100vh;
}
button{
    font-family: $font_text;
}

.header-text{
    @include header_text(1);
}

.page-container{
    align-items: center;
    display: flex;
    font-family: $font_text;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}


#login-page-container{
    align-items: center;
    background-color: rgba(0, 0, 0, 0.02);
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    font-family: $font_text;
    gap: 18px;
    height: 420px;
    justify-content: center;
    position: relative;
    width: 700px;
    
    * {
        box-sizing: border-box;
        font-size: 14px;
    }

    .header-text{
        @include header-text(1);
        position: absolute;
        top: 40px;
    }
    .input-label{
        @include header-text(4);
    }

    input:focus{
        outline: none;
    }

    .text-field, .password-field{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        
        input{
            font-family: $font_text;
            padding: 0 4px;
        }
    }
    
    .password-field{
        position: relative;
        input{
            padding: 0 24px 0 4px;
        }
        .eye-icon{
            position: absolute;
            right: 5px;
            top: 50%;
        }
    }
    
    .auth-button{
        background-color: rgb(255, 255, 255);
        border: 0.3px solid black;
        border-radius: 2px;
        font-size: 16px;
        outline: none;
    }
    .auth-button:hover, input:hover{
        background-color: rgb(235, 235, 235);
    }
    .auth-button:active{
        background-color: rgb(200, 200, 200);
    }
    .auth-button, input{
        height: 34px;
    }

    .text-field, .password-field, .auth-button{
        width: 500px;
    }
}

#main-page-container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100vh;
    padding: 8px;
    width: 100vw;

    #topbar, #sidebar, #chat{
        background-color: $container_bg_color;
        border: 0.5px solid rgba(0, 0, 0, 0.1);
    }

    #topbar{
        align-items: center;
        box-sizing: border-box;
        display: flex;
        height: 5%;
        justify-content: flex-end;
        padding: 0 8px;

        #username{
            border-radius: 5px;
            display: block;
            padding: 8px;
            transition: all 0.15s;
        }
        #username:hover{
            background-color: $input_hover_bg;
        }
    }

    #main-container{
        display: flex;
        gap: 12px;
        height: 95%;

        #sidebar{
            align-items: center;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            gap: 25px;
            justify-content: space-between;
            padding: 8px;
            width: 15%;


            #rooms-list{
                align-items: flex-start;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                gap: 8px;
                height: auto;
                justify-content: flex-start;
                overflow-y: scroll;
                scrollbar-width: none;
                width: 100%;
                -ms-overflow-style: none
            }
            #rooms-list::-webkit-scrollbar {
                display: none;
            }

            .room{
                align-items: center;
                background-color: rgb(255, 255, 255);
                box-sizing: border-box;
                border: 0.5px solid rgba(0, 0, 0, 0.25);
                border-radius: 5px;
                cursor: pointer;
                display: flex;
                justify-content: space-between;
                flex-basis: 45px;
                flex-grow: 0;
                flex-shrink: 0;
                height: 50px;
                padding: 8px;
                transition: all 0.2s;
                width: 100%;

                span{
                    display: inline-block;
                    font-family: $font_text;
                    height: auto;
                    width: auto;
                }
            }
            .current{
                font-weight: 600;
            }
            .room:hover, .current{
                background-color: $input_hover_bg;
            }
            
            #create-room{
                background-color: rgb(255, 255, 255);
                border: 0.5px solid rgba(0, 0, 0, 0.25);
                border-radius: 6px;
                font-size: 16px;
                font-weight: bold;
                height: 50px;
                outline: none;
                width: 100%;
            }
            #create-room:hover{
                background-color: $input_hover_bg;
                border: 0.5px solid black;
            }
        }

        #chat{
            box-sizing: border-box;
            width: 85%;
        }
    }
}